<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>{{deviceName}}</ion-title>
      <ion-icon class="icon-right" name="thermometer"></ion-icon>
          <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
      <ion-tabs>
          <ion-tab tabIcon="analytics" [root]="tabView"></ion-tab>
          <ion-tab tabIcon="notifications" [root]="tabNotification"></ion-tab>
          <ion-tab tabIcon="settings" [root]="tabSetting"></ion-tab>
          
        </ion-tabs>
  </ion-content>
  