<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button clear="true" full="true" item-right icon-left>
        <ion-title>{{uiLabelMap.APIGlobal}}</ion-title>
        <ion-icon class="icon-right" name="globe"></ion-icon>
            <ion-icon class="icon-right" name="">  </ion-icon>
        <ion-icon class="icon-right" name="">  </ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        {{uiLabelMap.APINews}}
      </ion-card-header>
      <ion-card-content>
          <ion-grid>
              <ion-row *ngFor="let news of newsList">
                <ion-col col-2 very-small>
                      {{news.createdDate | date : 'd/M/yy'}}
                    </ion-col>
                <ion-col col-9 >
                  {{news.contentName}}
                </ion-col>
                <ion-col col-1 >
                  <!-- <ion-icon name="arrow-forward" clickable></ion-icon> -->
                </ion-col>
              </ion-row>
                <ion-row *ngIf="newsList.length > 3">
                    <ion-col col-11>
                    </ion-col>
                    <ion-col col-1>
                        <ion-icon name="more"></ion-icon>
                    </ion-col>
                  </ion-row>
            </ion-grid>
    </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            {{uiLabelMap.APIDevices}}
          </ion-card-header>
          <ion-card-content>
              <canvas #doughnutChart></canvas>
          </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
          Map
        </ion-card-header>
        <ion-card-content>
            <canvas #googleMap></canvas>
        </ion-card-content>
    </ion-card>
  </ion-content>