<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>{{uiLabelMap.APINewDevice}}</ion-title>
      <ion-icon class="icon-right" name="thermometer"></ion-icon>
          <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
  
      </button>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label floating>{{uiLabelMap.APIDeviceID}}</ion-label>
        <ion-input type="text" [(ngModel)]="input.deviceId" name="deviceId"></ion-input>
        <button ion-button item-right (click)="scanQr()" class=""><ion-icon name="qr-scanner"></ion-icon></button>
      </ion-item>
      <ion-item>
        <ion-label floating>{{uiLabelMap.APIDeviceName}}</ion-label>
        <ion-input #deviceName type="text" [(ngModel)]="input.deviceName" name="deviceName"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full large (click)="addDevice()">{{uiLabelMap.APIAdd}}</button>
      </ion-item>
    </ion-list>
  </ion-content>
  