// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #008dc4,
  secondary:  #db3232,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  available: rgb(96, 191, 255),
  active: rgb(82, 255, 91),
  disable: #cccccc,
  dark-background: #07263b,
  dark-card: #0b3049,
  dark-card-header: #218690,
  dark-card-content: #0b3049,
  dark-card-header-title: #58bdc6
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
// ion-content {
//   background: color($colors, dark-background) !important;
// }
// ion-card {
//   background: color($colors, dark-card) !important;
// }
// ion-card-header {
//   background: color($colors, dark-card-header) !important;
//   color: color($colors, dark-card-header-title) !important;
// }
// .toolbar-background-md {
//   background: color($colors, dark-background) !important;
// }
// .toolbar-title-md {
//   color: color($colors, light) !important;
// }
// .item-md {
//   background: color($colors, dark-card) !important;
// }
// .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
//   color: color($colors, light) !important;
// }



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$font-size-very-small: 0.8rem;




