<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-label>{{uiLabelMap.APIDuration}}</ion-label>
            <ion-select [(ngModel)]="duration" interface="popover" (ionChange)="updateTemperatureList()">
              <ion-option value="30m" (click)="updateTemperatureList()" >30 {{uiLabelMap.APIMins}}</ion-option>
              <ion-option value="1h" (click)="updateTemperatureList()">1 {{uiLabelMap.APIHour}}</ion-option>
              <ion-option value="6h" (click)="updateTemperatureList()">6 {{uiLabelMap.APIHours}}</ion-option>
              <ion-option value="24h" (click)="updateTemperatureList()">24 {{uiLabelMap.APIHours}}</ion-option>
              <ion-option value="7d" (click)="updateTemperatureList()">7 {{uiLabelMap.APIDays}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-card-header>
          <ion-card-content>
            <canvas #lineCanvas></canvas>
            <ion-item>
                <ion-range color="danger"
                    dualKnobs="true"
                    pin="true"
                    [(ngModel)]="temperature"
                    min="{{min}}" max="{{max}}" step="1" snaps="false">
                    <ion-label range-left>{{uiLabelMap.APIMin}} {{min}} </ion-label>
                    <ion-icon range-left small name="thermometer"></ion-icon>
                    <ion-icon range-right name="thermometer"></ion-icon>
                    <ion-label range-right> {{uiLabelMap.APIMax}} {{max}}</ion-label>
                </ion-range>
            </ion-item>
          </ion-card-content>
      </ion-card>
</ion-content>
  