
<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-item *ngIf="hide == true">
                {{deviceName}}
                <button ion-button item-right *ngIf="hide == true"  (click)="setHide()" class=""><ion-icon name="create"></ion-icon></button>
            </ion-item>
          <ion-item *ngIf="hide == false">
            <ion-label floating>{{uiLabelMap.APIDeviceName}}</ion-label>
            <ion-input  type="text" *ngIf="hide == false" [(ngModel)]="input.deviceName"></ion-input>
          <button ion-button item-right *ngIf="hide == false"  (click)="updateDevice()" class=""><ion-icon name="">{{uiLabelMap.APIUpdate}}</ion-icon></button>
        </ion-item>
        </ion-card-header>
        <ion-card-content>
          <img src="{{ deviceQrUrl }}"/>
          ID: {{ deviceId }}
        </ion-card-content>
          <ion-item>
            <button ion-button full large (click)="removeDevice()">{{uiLabelMap.APIRemove}}</button>
          </ion-item>
      </ion-card>
</ion-content>
  