
<ion-content padding>
    <ion-list >
        <button ion-item *ngFor="let notification of notificationList">
            <ion-icon name="notifications" item-start></ion-icon>
        </button>
    </ion-list>
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-label>{{uiLabelMap.APINotification}}: {{status}}</ion-label>
                <ion-toggle right [(ngModel)]="checked" (ngModelChange)="updateNotification()" ></ion-toggle>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                    <ion-label>{{uiLabelMap.APINotifyBetween}} {{temperature['lower']}} - {{temperature['upper']}} °C</ion-label>
            </ion-item>
            <ion-item>
                <ion-range color="danger"
                    dualKnobs="true"
                    pin="true"
                    [(ngModel)]="temperature"
                    (ionChange)="updateNotification()" 
                    min="0" max="100" step="1" snaps="false">
                    <ion-label range-left>0 </ion-label>
                    <ion-icon range-left small name="thermometer"></ion-icon>
                    <ion-icon range-right name="thermometer"></ion-icon>
                    <ion-label range-right> 100</ion-label>
                </ion-range>
            </ion-item>
            <ion-item>
                {{uiLabelMap.APIRepeatNotification}} ({{uiLabelMap.APIMins}})
            </ion-item>
            <ion-item>
                <button ion-button *ngFor="let repeat of repeatList" (click)="setRepeat(repeat)" color="{{repeat.active == true ? 'primary' : 'disable'}}">
                    {{repeat.value}}
                </button>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
  