// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

[icon-left] ion-icon, [icon-start] ion-icon {
    line-height: 1;
}
// [app-viewport],
// [overlay-portal],
// [nav-viewport],
// [tab-portal],
// .nav-decor {
//   display: none !important;
//   background: none transparent !important;
// }
ion-content {
    background-color: color($colors, dark-background);
}

.flag-icon.flag-icon-squared {
    width: 2em !important;
    height: 2em !important;
    cursor: pointer;
}
.flag-icon.selected {
    outline: solid 5px color($colors, primary, base);
}
 