<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>News</ion-title>
      <ion-icon class="icon-right" name="paper"></ion-icon>
          <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
  
      </button>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-list >
       
    </ion-list>
  </ion-content>
  