<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>{{uiLabelMap.APIDevice}}</ion-title>
      <ion-icon class="icon-right" name="thermometer"></ion-icon>
          <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
  
      </button>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
      <ion-card>
          <ion-card-header>
            ID: {{ deviceId }}
          </ion-card-header>
          <ion-card-content>
            <img src="{{ deviceQrUrl }}"/>
          </ion-card-content>
        </ion-card>
  </ion-content>
  