<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>{{uiLabelMap.APIAdmin}}</ion-title>
      <ion-icon class="icon-right" name="construct"></ion-icon>
          <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
  
      </button>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    <ion-list >
      <button ion-item *ngFor="let device of deviceList"
        (click)="goToDevice(device.internalName)"
        color="{{device.status == 'active' ? 'active' : 'available'}}">
        ID: {{ device.internalName }}
      </button>  
    </ion-list>
    <ion-fab right bottom>
      <button ion-fab color="primary" (click)="createDevice()">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </ion-content>
  